<!DOCTYPE html>
<html lang="en">
<body style="background-color:pink;">
<head>
    <meta charset="UTF-8">
    <title>Booking Success</title>
</head>
<body>
<h1>Booking Success!!!</h1>
<h2>Booking Details:</h2>
    <p><h4>Aarti has booked three ticket seats 5A, 5B and 5C for "Winnie the Pooh" movie on Tuesday at 3:30PM.</h4></p>
<img src= "https://i.ytimg.com/vi/TbR8juhxCCs/movieposter_en.jpg" width="350"
     height="500" >
<p><h4>Amanda has booked four ticket seats 15A, 15B, 15C and 15D for "INSIDIOUS THE RED DOOR" movie at 7:00PM.</p></h4>
<img src= "https://m.media-amazon.com/images/M/MV5BMjdlZjI4YTEtNjgzZi00NTA1LWIwZWYtMDc0MzhjOWNlYjcxXkEyXkFqcGdeQXVyMTUzMTg2ODkz._V1_.jpg"  width="350"
     height="500">
    <p>Ankith has booked two ticket seats 7C and 7D for "EVIL DEAD RISE" movie at 10:00PM.</p>
    <p>Avinash has booked three ticket seats 8A, 8B and 8C for "AVATAR" movie at 7:00PM.</p>
    <p>Ahmed has booked two ticket seats 6A and 6B for "NO HARD FEELINGS" movie at 10:00PM.</p>
    <p>Firas has booked four ticket seats 2A, 2B, 2C, and 2D for "Winnie the Pooh" movie at 3:00PM.</p>
    <p>Kamel has booked four ticket seats 10A, 10B, 10C and 10D for "Winnie the Pooh" movie at 3:00PM.</p>
    <p>Pamula has booked two ticket seats 5A and 5B for "INSIDIOUS THE RED DOOR" movie at 7:00PM.</p>
    <p>Goutham has booked two ticket seats 12A and 12B for "EVIL DEAD RISE" movie at 10:00PM.</p>
    <p>Stead has booked two ticket seats 11A and 11B for "EVIL DEAD RISE" movie at 10:00PM.</p>
    <p>Ali has booked two ticket seats 13A and 13B for "NO HARD FEELINGS" movie at 10:00PM.</p>
    <p>Ermin has booked two ticket seats 14A and 14B for "NO HARD FEELINGS" movie at 10:00PM.</p>

<form method="post" action="/">
     <button><a href="/payment">Ready to Check Out! </a></button>
</body>
</html>