<!DOCTYPE html>
<html lang="en">
<body style="background-color:pink;">
<head>
    <meta charset="UTF-8">
    <head>
    <title>Date/Time</title>
<body>
<h1>Date/Times Available For Next 3 Days</h1>
<h2>PLEASE NOTE THAT WE ONLY SHOW BOOKINGS 3 DAYS IN A ROW</h2>

<h2>Date/Times For (Insidious):</h2>
<img src= "https://m.media-amazon.com/images/M/MV5BMjdlZjI4YTEtNjgzZi00NTA1LWIwZWYtMDc0MzhjOWNlYjcxXkEyXkFqcGdeQXVyMTUzMTg2ODkz._V1_.jpg"  width="350"
     height="500">
     <table>
        <tr>
          <th>Mon</th>
          <th>Tue</th>
          <th>Wed</th>
        </tr>
        <tr>
          <td>2:30PM</td>
          <td>3:30PM</td>
          <td>4:30PM</td>
        </tr>
        <tr>
          <td>3:45PM</td>
          <td>4:45PM</td>
          <td>5:55PM</td>
        </tr>
        <tr>
          <td>4:45PM</td>
          <td>5:45PM</td>
          <td>6:55PM</td>
        </tr>
      </table>
<h2>Date/Times For (Winnie The Pooh):</h2>
<img src= "https://i.ytimg.com/vi/TbR8juhxCCs/movieposter_en.jpg" width="350"
     height="500" >
     <table>
        <tr>
          <th>Mon</th>
          <th>Tue</th>
          <th>Wed</th>
        </tr>
        <tr>
          <td>2:30PM</td>
          <td>3:30PM</td>
          <td>4:30PM</td>
        </tr>
        <tr>
          <td>3:45PM</td>
          <td>4:45PM</td>
          <td>5:55PM</td>
        </tr>
        <tr>
          <td>4:45PM</td>
          <td>5:45PM</td>
          <td>6:55PM</td>
        </tr>
      </table>
<h2>Date/Times For (Evil Dead Rise):</h2>
<img src= "https://m.media-amazon.com/images/M/MV5BMmZiN2VmMjktZDE5OC00ZWRmLWFlMmEtYWViMTY4NjM3ZmNkXkEyXkFqcGdeQXVyMTI2MTc2ODM3._V1_FMjpg_UX1000_.jpg" width="350"
     height="500" >
     <table>
        <tr>
          <th>Mon</th>
          <th>Tue</th>
          <th>Wed</th>
        </tr>
        <tr>
          <td>2:30PM</td>
          <td>3:30PM</td>
          <td>4:30PM</td>
        </tr>
        <tr>
          <td>3:45PM</td>
          <td>4:45PM</td>
          <td>5:55PM</td>
        </tr>
        <tr>
          <td>4:45PM</td>
          <td>5:45PM</td>
          <td>6:55PM</td>
        </tr>
      </table>
<h2>Date/Times For (Avatar 2):</h2>
<img src= "https://m.media-amazon.com/images/M/MV5BYjhiNjBlODctY2ZiOC00YjVlLWFlNzAtNTVhNzM1YjI1NzMxXkEyXkFqcGdeQXVyMjQxNTE1MDA@._V1_FMjpg_UX1000_.jpg" width="350"
     height="500" >
     <table>
        <tr>
          <th>Mon</th>
          <th>Tue</th>
          <th>Wed</th>
        </tr>
        <tr>
          <td>2:30PM</td>
          <td>3:30PM</td>
          <td>4:30PM</td>
        </tr>
        <tr>
          <td>3:45PM</td>
          <td>4:45PM</td>
          <td>5:55PM</td>
        </tr>
        <tr>
          <td>4:45PM</td>
          <td>5:45PM</td>
          <td>6:55PM</td>
        </tr>
      </table>
    <h2>Date/Times For (No Hard Feelings):</h2>
<img src= "https://m.media-amazon.com/images/M/MV5BMjg3N2M3OWUtZGQ3NC00OGI1LTllZDUtMTdiYWQxMTk0YTg2XkEyXkFqcGdeQXVyODk4OTc3MTY@._V1_FMjpg_UX1000_.jpg" width="350"
     height="500" >
     <table>
        <tr>
          <th>Mon</th>
          <th>Tue</th>
          <th>Wed</th>
        </tr>
        <tr>
          <td>2:30PM</td>
          <td>3:30PM</td>
          <td>4:30PM</td>
        </tr>
        <tr>
          <td>3:45PM</td>
          <td>4:45PM</td>
          <td>5:55PM</td>
        </tr>
        <tr>
          <td>4:45PM</td>
          <td>5:45PM</td>
          <td>6:55PM</td>
        </tr>
      </table>

<form method="post" action="/">
     <button><a href="/Booking">Click to Select Seating </a></button>



</body>
</html>