<!DOCTYPE html>
<html lang="en">
<body style="background-color:pink;">
<head>
    <meta charset="UTF-8">
    <title>Theater Location</title>
</head>
<body>
<h1>Please check below for the nearby locations where the Movies are Streaming:</h1>
    <p>Detroit Theater</p>
    <p>Dearborn Theater</p>
    <p>Troy Theater</p>
    <p>Auburn Hills Theater</p>
    <p>Ann Arbor Theater</p>

<form method="post" action="/">
     <button><a href="/DateTime">Click to Select Date and Time </a></button>


</body>
</html>