<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Theater Location</title>
</head>
<body>
<h1>Please select the Location of the Theater:</h1>
    <p><button>Detroit Theater</button></p>
    <p><button>Dearborn Theater</button></p>
    <p><button>Troy Theater</button></p>
    <p><button>Auburn Hills Theater</button></p>
    <p><button>Ann Arbor Theater</button></p>

<form method="post" action="/">
     <button><a href="/Date">Click to Select Date and Time </a></button>


</body>
</html>